.main-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.main-logo {
  width: 30rem;
  height: 12rem;
  margin-bottom: 20px;
}

.main-search-container {
  position: relative;
  width: 30rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  font-size: 16px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-search {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  flex-direction: column;
}

.header-logo {
  width: 30rem;
  height: 12rem;
  margin-bottom: 20px;
}

.header-search-container {
  display: flex;
  justify-content: center;
  width: 30rem;
}

.header-results {
  font-family: "Montserrat", sans-serif;
  color: #ccc;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  margin-bottom: 5rem;
}

.result-item {
  font-family: "Montserrat", sans-serif;
  color: #ccc;
  text-decoration: none;
}

.results-container {
  position: relative;
}

.results-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 40rem;
  height: 1px;
  background-color: #ccc;
}

.result-title {
  font-family: "Montserrat", sans-serif;
  color: #ccc;
}

.result-item:hover {
  background-color: #f0f0f0;
  color: #000;
}

.searchRes {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
