.main-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.main-logo {
  width: 30rem;
  height: 12rem;
  margin-bottom: 20px;
}

.main-search-container {
  position: relative;
  width: 30rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  font-size: 16px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-search {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  flex-direction: column;
}

.header-logo {
  width: 30rem;
  height: 12rem;
  margin-bottom: 20px;
}

.header-search-container {
  display: flex;
  justify-content: center;
  width: 30rem;
}

.header-results {
  font-family: "Montserrat", sans-serif;
  color: #ccc;
}

.results {
  display: flex;
  flex-direction: column;
}

.result-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
  max-width: 100%;
}

.result-item:hover {
  background-color: #f0f0f0;
  color: #000;
}

.searchRes {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
